.contacts {
  text-align: center;
}

.contacts__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.contacts__phone,
.contacts__email,
.contacts__address {
  color: rgb(210, 40, 86);
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}

.contacts__item {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    justify-content: space-between;
  }

  .contacts__item:nth-child(2) {
    order: 1;
  }
}
