.contacts__header {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: rgb(40, 54, 69);
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  color: rgb(40, 54, 69);
}

.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts__item {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.contacts__data {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: rgb(210, 40, 86);

  &--email, &--phone {
    text-decoration: none;
  }

  &--email:hover {
    color: rgb(40, 54, 69);
    text-decoration: underline;
  }

  &--email:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .contacts__header {
    font-size: 40px;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    width: 300px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__header {
    font-size: 50px;
    padding-left: 125px;
    padding-right: 125px;
  }

  .contacts__container {
    justify-content: space-between;
  }

  .contacts__item {
    &--email {
      order: 1;
    }
  }
}
