.menu {
  background-color: rgb(40, 54, 69);
  text-align: center;
  font-size: 18px;
  margin: 0 -20px;
}

.menu__link {
  display: block;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.8;
  font-weight: 700;
}

@media (min-width: $desktop-width) {
  .page-header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu {
    background-color: transparent;
  }

  .menu__list {
    &--desc {
      display:flex;
    }
  }

  .page-header__heading {
    width: 100%;
  }

  .menu__trigger {
    display: none;
  }
}
