.menu {
  background-color: $bgc-menu;
}

.menu__list {
  @include reset-ul;
}

.menu__item {
  text-align: center;
}

.menu__link {
  display: block;
  padding: 20px 70px;
  text-decoration: none;
  color: $c-header-text;
  font-size: 18px;
}
