.page-footer {
  padding-top: 40px;
  background-color: rgb(255, 255, 255);

  &--index {
    .page-footer__social {
      // display: none;
    }
  }
}

.page-footer__inner {
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__social {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__logo {
  text-align: center
}

.page-footer__social-links {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: rgb(40, 54, 69);
  text-align: center;
}

.page-footer__copyright-icon {
  fill: rgb(210, 40, 86);

  &:hover {
    fill: rgb(40, 54, 69);
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  margin-left: 25px;
}

.page-footer__map {
  position: relative;
  height: 200px;
  background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-mobile@1x.png");
  background-position: top 50% right 20%, center;
  background-repeat: no-repeat;
  background-size: auto, 100% auto;
}

.page-footer__map::before {
  position: absolute;
  content: "";
  top: -1px;
  width: 100%;
  border-top: 35px solid rgb(255, 255, 255);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

.page-footer__map iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;

    &--index {
      .page-footer__social {
        // display: block;
      }
    }
  }

  .page-footer__map {
    height: 375px;
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-tablet@1x.jpg");
    background-position: bottom 10% right 35%, top center;
    background-size: auto;
  }

  .page-footer__map::before {
    border-top-width: 65px;
  }

  .page-footer__social {
    padding-top: 35px;
    padding-bottom: 35px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__social-links {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 70px;
  }

  .page-footer__inner {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 960px;
    margin: 0 auto;
  }

  .page-footer__map {
    height: 500px;
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-desktop@1x.jpg");
    background-position: bottom 35% right 40%, top center;
  }

  .page-footer__map::before {
    border-top-width: 105px;
  }

  .page-footer__social {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .page-footer__copyright {
    font-size: 18px;
  }
}
