.page-footer {
  padding-top: 40px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
  font-weight: 300;

  &--index {
    .page-footer__block {
      display: none;
    }
  }
}

.page-footer__inner {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.page-footer__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.page-footer__contacts {
  margin-bottom: 35px;
}

.page-footer__social,
.page-footer__bottom {
  margin-top: 40px;
}

.page-footer__map {
  min-height: 200px;
  width: 100%;
  background: rgb(255, 255, 255) url("../img/bg-map-mobile@1x.png") no-repeat;
  background-position: 0 -450px;
}

@media (min-width: $tablet-width) {

  .page-footer {
    &--index {
      .page-footer__block {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__block {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  .page-footer__title {
    font-size: 50px;
  }

  .contacts__title {
    font-size: 18px;
  }

  .contacts__phone,
  .contacts__email,
  .contacts__address {
    font-size: 24px;
  }
}
