.page-header {
  background-color: rgb(40, 54, 69);
  position: relative;
}

.page-header__top {
  height: 462px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 258px 286px, cover;
  background-position: right 60px bottom, center top;
}

.page-header__downloads {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.page-header__logo {
  display: block;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .page-header__top {
    height: 729px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 700px 545px, 1200px 729px;
    background-position: right -20px bottom, center top;
  }

  .page-header__downloads {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 300px;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__top {
    height: 853px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 1050px 645px, 2560px 853px;
    background-position: right -120px bottom, center top;
  }

  .page-header__logo {
    margin-left: 0;
  }
}
