.page-footer {
  background-color: $bgc-section-odd;
  text-align: center;
}

.page-footer__title {
  font-size: 24px;
  color: $base-text;
}

.page-footer__contacts {

}

.contacts__title {
  font-size: 18px;
}

.contacts__item {
  a {
    text-decoration: none;
    color: rgb(210, 40, 86);
  }
}
