.page-header {
  height: 462px;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 54, 69);
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 bottom, 0 0;
}

.page-header__inner {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.page-header__heading {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
  margin-top: 50px;
}

.page-header--no-index {
  height: 240px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 0;
}
