.reviews__list {
  text-align: center;
  padding: 30px 20px;
}

.reviews__item {

}

.reviews__author {
  font-style: normal;
  font-size: 18px;
  font-weight: $font-bold;
}

.reviews__text {
  font-weight: $font-regular;
}

.reviews__toggles {

}
