.reviews {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.reviews__inner {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.reviews__list {
  padding: 35px 0;
}

.reviews__author {
  margin-bottom: 25px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.reviews__text {
  font-weight: 400;
  line-height: 2;
}

.reviews__author-info {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__author-info {
    display: block;
  }

  .reviews__list {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews__item {
    padding-top: 180px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}
