.selection__item {
  background-color: rgb(242, 242, 242);
}

.selection__author {
  font-weight: 700;
  font-style: normal;
}

.selection__time {
  text-transform: uppercase;
}

.selection__rate {
  color: rgb(210, 40, 86);
  text-transform: uppercase;
}
