.slider__prev,
.slider__next {
  display: none;
}

.toggle {
  display: inline-block;
  border: 0;
  background-color: rgb(190, 194, 199);
  cursor: pointer;
  outline: none;
}

@media (min-width: 960px) {
  .slider__list {
    position: relative;
  }

  .slider__prev {
    width: 25px;
    height: 45px;
    display: block;
    position: absolute;
    top: calc(50% - 22.5px);
    left: 0;
    background-image: url("img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .slider__next {
    width: 25px;
    height: 45px;
    display: block;
    position: absolute;
    top: calc(50% - 22.5px);
    right: 0;
    background-image: url("img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
