.toggles {
  text-align: center;
}

.toggle {
  display: inline-block;
  border: 3px solid rgb(242, 242, 242);
  border-radius: 50%;
  outline: none;
  width: 12px;
  height: 12px;
  padding: 0;
  font-size: 0;
  background-color: rgb(190, 194, 199);
  cursor: pointer;

  &:hover {
background-color: rgb(126, 134, 143);
  }

  &:active {
    background-color: rgb(233, 235, 236)
  }

  &--active {
    border: 3px solid rgb(40, 54, 69);
    background-color: rgb(255, 255, 255);

    &:hover {
      border: 3px solid rgb(40, 54, 69);
      background-color: rgb(255, 255, 255);
    }
  }
}
